.infinite-scroll-component{
  overflow: visible !important;
}

.circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-shadow: 0px 0px 1px 1px #0000001a;
}

.pulse {
  animation: pulse-animation 0.5s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}

.gallery-filter-container {
  border: black solid 1px;
  margin-bottom: 2em;
} 
.gallery-filter-container > div {
  padding: 0.3em;
}
.gallery-search-container {
  padding: 0.3em;
  border: black solid 1px;
}
.gallery-container {
  flex-direction: column;
}

// .gallery-item-header {
//   margin-left: 50%;
// }

.gallery-graph-image {
  width: 100%;
}

.gallery-filter-container {
      flex-direction: column;
    }
    .gallery-filter-item {
        width: 100%
    }

@media only screen and (min-width: 550px){
    .gallery-filter-container {
      flex-direction: row;
    }
    .gallery-filter-item {
        width: 100%
    }
}

