.register-page-form {
	width: 100%;
}

@media only screen and (min-width: 550px) {
	.register-page-form {
		width: 75%;
	}
}

@media only screen and (min-width: 800px) {
	.register-page-form {
		width: 50%;
	}
}
